.color{
    margin-top: 70px;
}
hr{
    width: 17%;
    margin: auto;
    color: #16b4ee;
}
.medical-helth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

 @media only screen and (max-width: 688px) {
    .medical-helth{
        grid-template-columns: repeat(1, 1fr);
        
    }  
}

/* @media only screen and (min-width:689px) and (max-width: 991px) {
   .medical-helth{
       grid-template-columns: repeat(4, 1fr);
       display: flex;
   } 
}  */